/* write your css here */
::-webkit-scrollbar {
    display: none;
}

.animation-style {
    animation: fade-in 3s;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }